* { box-sizing: border-box; }

body {
  font-family: Arial, sans-serif;
  text-align: center;
  cursor: url('../img/mallet-cursor.png'), auto;
}

#game-field {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
  width: 400px; 
  margin: auto;
}
    
.game-cell {
  height: 100px; 
  background-color: lightgray;
  /* position: relative; */
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
}

.game-cell:hover {
  transform: scale(1.1);
  cursor: url('../img/mallet-cursor.png'), auto;
}

img {
  max-width: 100%; 
  max-height: 100%; 
  object-fit: contain; 
}
.cursor-hammer {
  cursor: url('../img/mallet-cursor.png'), auto; 
}

#modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .3);
  z-index: 1000;
  width: 300px;
  text-align: center;
}

#modal button {
  margin-top: 10px;
  cursor: pointer;
  color: white;
  background-color: blue;
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
}

